/* @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HyruleSerif';
    src: url('./assets/font/HyliaSerifBeta-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
